@font-face {
    font-family: Lato;
    src: url(../font/LatoLatin-Regular.ttf);
}

body {
    background-color: #34404d;
    margin: 0;
    font-family: Lato;
}

input, button {
    font-family: Lato;
    font-size: 14px;
}

#main-container {
    display: flex;
}

#left-panel-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    min-width: 180px;
    max-width: 250px;
}

.setting-section {
    background-color: #a1acb8;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

input, p {
    width: 90%;
}

#world-button {
    margin-top: 5px;
}

#road-button {
    margin: 5px 0px 5px 0px;
}

#right-panel-container {
    flex: 5;
    display: flex;
    padding: 10px;
}

.settings-text {
    margin: 2px;
}

.grid-row {
    display: flex;
}

.grid-unit {
    width: 30px;
    height: 30px;
    display: block;
    border: 1px black solid;
}

.empty {
    background-color: #a1acb8;
}

.road {
    background-color: #a1acb8;
}

.city {
    background-color: #8559FF;
}

.grid-unit-img {
    position: absolute;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    height: 30px;
    width: 30px;
}

.driver-img {
    position: absolute;
    z-index: 2;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    height: 10px;
    width: 10px;
    padding: 10px;
}